
S3method(plot,qbld)
S3method(print,summary.qbld)
S3method(summary,qbld)
export(datagen)
export(make.qbld)
export(model.qbld)
export(mofit)
export(qbldf)
export(qbldunblock)
export(raldmix)
export(rgig)
importFrom(Rcpp,sourceCpp)
importFrom("grDevices", "dev.interactive")
importFrom("mcmcse", "ess", "mcse.mat", "multiESS")
importFrom("stableGR", "target.psrf")
importFrom("graphics", "par", "plot", "rug")
importFrom("stats", "formula", "model.matrix", "plot.ts", "sd",
             "terms", "ts")
useDynLib(qbild)
useDynLib(qbild, .registration = TRUE)
