S3method(plot,qbld)
S3method(print,summary.qbld)
S3method(summary,qbld)
export(summary.qbld)
export(plot.qbld)
export(daldmix)
export(dgig)
export(model.qbld)
export(paldmix)
export(qaldmix)
export(raldmix)
export(rgig)
importFrom(Rcpp,sourceCpp)
import("utils")
import("rmarkdown")
import("knitr")
import("RcppDist")
importFrom("grDevices", "dev.interactive")
importFrom("mcmcse", "ess", "mcse.mat", "multiESS")
importFrom("stableGR", "target.psrf")
importFrom("graphics", "par", "plot", "rug")
importFrom("stats", "formula", "model.matrix", "plot.ts", "sd",
           "terms", "ts")
useDynLib(qbld)
useDynLib(qbld, .registration = TRUE)
